* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
}

#video-grid {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

video {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
}